{
  "versionCode": 1,
  "versionName": "1.0.0",
  "platformOs": "ios",
  "minPlatformVersion": 5920,
  "maxPlatformVersion": 0,
  "priority": 2,
  "appCode": "miniapp.ios.<%= appId %>.<%= name %>",
  "updateDesc": "<%= description %>",
  "aid": "ios",
  "dotId": 4000,
  "appName": "<%= name %>",
  "ext": {
    "appBrand": "斗鱼小程序",
    "appDesc": "<%= description %>",
    "appIcon": "http://uploadfile.huiyi8.com/up/3f/dd/fc/3fddfcf56a4c43bf0987aa7938666da5.png",
    "autoLoad": true,
    "holdBack": -1
  }
}
